<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/browse.css">

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="javascript/browse.js"></script>
<script>
var geocoder;
var map;
function initialize() {
  geocoder = new google.maps.Geocoder();
}

function codeAddress() {
  var address = document.getElementById('address').value;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      console.log(results[0].geometry.location);
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<!--
<div id="panel">
  <input id="address" type="textbox" value="Sydney, NSW">
  <input type="button" value="Geocode" onclick="codeAddress()">
</div>
 -->
<body>
  <div id="center-box" class="container">
    <h1 class="browse-discover-title">Discover</h1>

    <div class="browse-container">
      <h2>Browse by Interests</h2>
      <div class="browse-interests interests-container debug clearfix ">

      </div>
      <br>

      <h2>Browse by Cities</h2>
      <div class="browse-cities cl-b  p-ssm clearfix">
        <div class="list-of-cities">

        </div>
      </div>

    </div>

    <div class="not-index container">

      <p>Click the button to find tours close.</p>

      <button onclick="getCurrentPosition()">Try It</button>

    </div>
  </div>
</body>

<script id="interest-template" type="text/x-handlebars-template">
  <a href="#interest_item?{{name}}" >
    <div class="interest-template-div">
      <h3 class="m-none fz-xxxs">{{name}}</h3>
    </div>
  </a>
</script>

<script id="city-template" type="text/x-handlebars-template">
  <a href="#city_item?{{name}}">
    <div class=" fl-l m-ssm box-225">
      <div class="shadow">
      </div>
      <img src="{{photo_url}}" class="city-img ">
      <header>
        <h2 class="city-img-text">{{name}}</h2>
      <header>
    </div>
  </a>
</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script src="javascript/browse.js"></script>

<script>
  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
  }

  function codeAddress() {
    var address = document.getElementById('address').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        console.log(results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script id="search-result-template" type="text/x-handlebars-template">
  <p>
    {{city}}
    {{state}}
    {{title}}
    {{_id}}
    </a>
  </p>
</script>

<script id="selected-city-template" type="text/x-handlebars-template">
  <a href="tours/display/{{_id}}"><p>
    {{city}}
    {{state}}
    {{title}}
    {{_id}}
  </p></a>
</script>
