<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/browse.css">

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="javascript/browse.js"></script>
<script>
  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
  }

  function codeAddress() {
    var address = document.getElementById('address').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        console.log(results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<!--
<div id="panel">
  <input id="address" type="textbox" value="Sydney, NSW">
  <input type="button" value="Geocode" onclick="codeAddress()">
</div>
 -->
<body>
  <div id="center-box" class="container">
    <h1 class="browse-discover-title">Discover</h1>

    <div class="browse-container clearfix">
      <h2 class="browse-title">Browse by Interests</h2>
      <div class="browse-interests interests-container clearfix ">

      </div>
      <br>

      <h2 class="browse-title">Browse by Cities</h2>
      <div class="browse-cities clearfix">
        <div class="list-of-cities">

        </div>
      </div>

    </div>

  </div>

  <div class="not-index container">
    <h2 class="browse-close-to-you browse-title">Close to You</h2>
    <p class="enable-gps-text">Enable location services to find tours near you</p>
    <a href="#close_to_you">
      <button onclick="getCurrentPosition()" class="enable-gps-button">Enable
        <div class="location-button-filler">&nbsp;</div>
        <i class="fa fa-location-arrow location-services-icon"></i>
      </button>
    </a>
  </div>

</body>

<script id="interest-template" type="text/x-handlebars-template">
  <a href="#interest_item?{{name}}" >
    <div class="interest-template-div">
      <div class="tag-border-line">&nbsp;</div>

      <h3 class="interest-tag-titles">
        <i class="fa fa-tags interest-tag"></i>
        {{name}}
      </h3>
    </div>
  </a>
</script>





<script id="city-template" type="text/x-handlebars-template">
  <a href="#city_item?{{city}}">
    <div class="card-box-200 ">
      <div class="shadow"></div>
      <img src="{{photo_url}}" class="city-img ">
      <h2 class="city-img-text">{{city}}, {{state}}</h2>

      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/038/221/2d4502f.jpg" class="card-circle-img">

      <div class="card-tag-template-div">
        <div class="card-tag-border-line">&nbsp;</div>

        <h3 class="card-tag-titles">
          <i class="fa fa-tags card-tag"></i>
          Interest
        </h3>
      </div>
    </div>
  </a>
</script>





<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script src="javascript/browse.js"></script>

<script>
  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
  }

  function codeAddress() {
    var address = document.getElementById('address').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        console.log(results[0].geometry.location);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script id="search-result-template" type="text/x-handlebars-template">
  <p>
    {{city}}
    {{state}}
    {{title}}
    {{_id}}
    </a>
  </p>
</script>

<script id="selected-city-template" type="text/x-handlebars-template">
  <a href="tours/display/{{_id}}">
    <div class="tour-display-template box-200" >
      <div class="shadow"></div>
      <img src="{{trailer_photo_url}}" class="city-img">
      <h2 class="city-img-text">{{title}}</h2>
    </div>
  </a>
</script>
