<div class="not-index container">
    <div class="row container debug">
      <div class="favs">
        <h1>Favorites go here</h1>
        this is however many the user favorites
      </div>
    </div>

    <div class="row container p-md debug">
      <div class="recommend gutters-t gutters-d">
        <h1>Recommended goes here</h1>
          <div class="trailer col debug" id="recommended-0">
            boom this is a tour
          </div>
          <div class="trailer col debug" id="recommended-1">
            boom this is a tour
          </div>
          <div class="trailer col debug" id="recommended-2">
            boom this is a tour
          </div>
          <div class="trailer col debug" id="recommended-3">
            boom this is a tour
          </div>
      </div>
      <div class="recommend gutters-t gutters-d">
          <div class="trailer col debug" id="recommended-4">
            boom this is a tour
          </div>
          <div class="trailer col debug" id="recommended-5">
            boom this is a tour
          </div>
          <div class="trailer col debug" id="recommended-6">
            boom this is a tour
          </div>
          <div class="trailer col debug" id="recommended-7">
            boom this is a tour
          </div>
      </div>
    </div>

    <div class="row container debug">
      <div class="wish" id="dashboard-wishlist">
        <h1>Wishlist goes here</h1>
      </div>
    </div>

    <div class="row container debug">
      <div class="location">
        <h1>Close to me goes here</h1>
      </div>
    </div>
    <div id="current-user-information">

    </div>

<script id="current-user-info-template" type="text/x-handlebars-template">
  <p>
    {{username}}
  </p>
</script>

<script id="recommended-tour-template" type="text/x-handlebars-template">
  <p>
    {{title}}
    <br>
    {{city}}
  </p>
</script>

<script id="dashboard-wishlist-tour-template" type="text/x-handlebars-template">
  <p>
    {{title}}
    <br>
    {{_id}}
  </p>
</script>
</div>
