<!-- <div class="not-index container">
  <div class="row container debug">
    <div class="favs">
      <h1>Favorites go here</h1>
      this is however many the user favorites
    </div>
  </div>

  <div class="row container p-md debug">
    <div class="recommend gutters-t gutters-d">
      <h1>Recommended goes here</h1>
        <div class="trailer col debug" id="recommended-0">
          boom this is a tour
        </div>
        <div class="trailer col debug" id="recommended-1">
          boom this is a tour
        </div>
        <div class="trailer col debug" id="recommended-2">
          boom this is a tour
        </div>
        <div class="trailer col debug" id="recommended-3">
          boom this is a tour
        </div>
    </div>
    <div class="recommend gutters-t gutters-d">
        <div class="trailer col debug" id="recommended-4">
          boom this is a tour
        </div>
        <div class="trailer col debug" id="recommended-5">
          boom this is a tour
        </div>
        <div class="trailer col debug" id="recommended-6">
          boom this is a tour
        </div>
        <div class="trailer col debug" id="recommended-7">
          boom this is a tour
        </div>
    </div>
  </div>

  <div class="row container debug">
    <div class="wish" id="dashboard-wishlist">
      <h1>Wishlist goes here</h1>
    </div>
  </div>

  <div class="row container debug">
    <div class="location">
      <h1>Close to me goes here</h1>
    </div>
  </div>
  <div id="current-user-information">
  </div>

</div>
 -->


<link rel="stylesheet" href="/stylesheets/tour_new.css">
<link rel="stylesheet" href="/stylesheets/user_page.css">
<link rel="stylesheet" href="/stylesheets/dashboard.css">
<div class="not-index container">
<div id="container" >
  <div class="title-box">
    <h1 class="h1">Dashboard</h1>
  </div>
  <div id="left-box" class="span-3-t left-box profile-box">
    <h4 class="h4">Your Profile</h4>
    <div id="inner-left-box" class="profile-inner-box">
      <div id="individual-user-dashboard-display"></div>
      <div id="user-authored-list"></div>
    </div>
  </div>
  <div id="right-box" class="span-9-t right-box">
    <div id="inner-right-box" class="inner-box">
    <h3 class="h3">Wishlist</h3>
    <div class="photo-list">
     <div class="photo-list">
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
    </div>
    </div>
    <h3 class="h3">Your Post</h3>
    <div class="photo-list">
     <div class="photo-list">
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
      <div class="photo">
        <img src="" alt="" class="square200">
        <p class="post-title">testetss</P>
      </div>
    </div>
    </div>
  </div>


<script id="individual-user-dashboard-template" type="text/x-handlebars-template">
      <div class="inner-line-box">
        <p><label class="sm-label">Username:</label></p>
        <p>{{username}}</p>
      </div>
      <div class="inner-line-box">
        <p><label class="sm-label">First Name:</label> </p><p>{{first_name}}</p>
      </div>
      <div class="inner-line-box">
        <p><label class="sm-label">Last Name:</label></p><p> {{last_name}}</p>
      </div>
      <div class="inner-line-box">
        <p><label class="sm-label">Email:</label></p><p> {{email}}</p>
      </div>
      <input type="hidden" value="{{_id}}">
    </div>
  </div>
</script>

<script id="individual-user-authored-template" type="text/x-handlebars-template">
  Authored ID: {{_id}}
  <br>
</script>
</div>

<script id="current-user-info-template" type="text/x-handlebars-template">
  <p>
    {{username}}
  </p>
</script>

<script id="recommended-tour-template" type="text/x-handlebars-template">
  <p>
    {{title}}
    <br>
    {{city}}
  </p>
</script>

<script id="dashboard-wishlist-tour-template" type="text/x-handlebars-template">
  <p>
    {{title}}
    <br>
    {{_id}}
  </p>
</script>
</div>
