<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/normalize.min.css"/>
    <link rel="stylesheet" href="/stylesheets/trg.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>

  </head>
  <body>

    <div class="row container debug">
      <div class="favs">
        <h1>Favorites go here</h1>
        this is however many the user favorites
      </div>
    </div>

    <div class="row container p-md debug">
      <div class="recommend gutters-t gutters-d">
        <h1>Recommended goes here</h1>
          <div class="trailer col debug">
            boom this is a tour
          </div>
          <div class="trailer col debug">
            boom this is a tour
          </div>
          <div class="trailer col debug">
            boom this is a tour
          </div>
          <div class="trailer col debug">
            boom this is a tour
          </div>
      </div>
      <div class="recommend gutters-t gutters-d">
          <div class="trailer col debug">
            boom this is a tour
          </div>
          <div class="trailer col debug">
            boom this is a tour
          </div>
          <div class="trailer col debug">
            boom this is a tour
          </div>
          <div class="trailer col debug">
            boom this is a tour
          </div>
      </div>
    </div>

    <div class="row container debug">
      <div class="wish">
        <h1>Wishlist goes here</h1>
      </div>
    </div>

    <div class="row container debug">
      <div class="location">
        <h1>Close to me goes here</h1>
      </div>
    </div>

  </body>
</html>