<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/normalize.min.css"/>
    <link rel="stylesheet" href="/stylesheets/trg.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>

  </head>
  <body>


    <div class="debug">
      <header class="container clearfix p-sm debug">
        <img src="https://pbs.twimg.com/profile_images/571076061169868800/2dDdk-Uh.png" srcset="https://pbs.twimg.com/profile_images/571076061169868800/2dDdk-Uh.png 2x" class="tt--logo fl-l debug">


        <ul class="fl-r lis-n debug">
            <li class="fl-l clearfix debug">
                Nav Stuff
            </li>
            <li class="fl-l clearfix debug">
                Nav stuff
            </li>
        </ul>

      </header>
    </div>

    <div class="hero">

    </div>
<!--     <div id="login_form">
=======
  <head></head>
  <body>
    <div id="login_form">
>>>>>>> master
      <form name="f1" method="post" action="/" id="f1">
        <table>
          <tr>
            <td class="f1_label">User Name :</td><td><input type="text" name="username" value="" />
            </td>
          </tr>
          <tr>
            <td class="f1_label">Password  :</td><td><input type="password" name="password" value=""  />
            </td>
          </tr>
          <tr>
            <td>
                <input type="submit" name="login" value="Log In" style="font-size:18px; " />
            </td>
          </tr>
        </table>
      </form>
<<<<<<< HEAD
    </div> -->



    <div class="container">

    </div>


  </body>
</html>
