    <div class="hero">

      <div class="p-hero fs-index txt-center va-mid m-none">
        <div class="fz-lg fc-light txt-sdw m-none">UnDiscovered</div>
        <div class="fc-light txt-sdw m-none">

          <ul class="lis-n lh-sm dis-i p-none m-none mb-md fz-xss">
            <li class="b-rt fl-l m-none p-top p-lt p-rt p-bttm">Authentic</li>
            <li class="b-rt fl-l m-none p-lt p-rt p-top p-bttm">Local</li>
            <li class="fl-l m-none p-top p-lt p-rt p-bttm">Explore</li>
          </ul>

        </div>
        <div class="discover txt-center txt-sdw fc-light mt-md p-xxs">
          <div class="fz-xss">Discover</div>
        </div>
      </div>


    </div>



