<link rel="stylesheet" href="/stylesheets/index.css">

<div class="hero full-container">
  <div class="p-hero fs-index txt-center va-mid m-none">
    <div id="main-title">
      <img src="/images/index-title.png" width="600px" height="400px" >
      <div id="float-right">
        <h1>unDiscovered</h1>
        <h3 id="index-subtitle">Authentic local experiences</h3>
      </div>
    </div>
    <!-- <h1 id="main-title">unDiscovered</h1> -->
    <!-- <h3 id="index-subtitle">Authentic | Local | Experiences</h3> -->
    <div class="discover-button">
      <div class="discover-button-wrapper">
        <a href="browse_tours" class="link_btn">
          <p class="button-wrapper-p">
            <i class="fa fa-search fa-2x discover-search-icon"></i>
            <br>
            Discover
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
