      <style>
      .op-head {
        background-color: transparent;
        position: absolute;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=80);
        -moz-opacity: 0.80;
        -khtml-opacity: 0.8;
        opacity: 0.8;
      }
      </style>

      <div class="hero full-container">

      <div class="p-hero fs-index txt-center va-mid m-none">
        <div class="fz-lg fc-light txt-sdw m-none">unDiscovered</div>
        <div class='formbox signinbox '>
        <form action="" method="post" id="subForm">
          <h3>Signin</h3>
          <div class="input">
            <input type="text" name="username" id="name" placeholder="username" />
          </div>
          <div class="input">
            <input type="password" name="password" id="nklki-nklki" placeholder="password" />
          </div>
          <input type="submit" value="Signin" />
          <!-- <span
            class="g-signin"
            data-callback="signinCallback"
            data-clientid="<%= process.env.OAUTH2_CLIENT_ID %>"
            data-cookiepolicy="single_host_origin"
            data-scope="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/youtube https://www.googleapis.com/auth/youtube.upload">
          </span> -->

          <p class="close"><i class="fa fa-times"></i> close</p>
         </form>

      </div>

        <div class="fc-light txt-sdw m-none">

          <ul class="lis-n lh-sm dis-i p-none m-none mb-md fz-xss">
            <li class="b-rt fl-l m-none p-top p-lt p-rt p-bttm">Authentic</li>
            <li class="b-rt fl-l m-none p-lt p-rt p-top p-bttm">Local</li>
            <li class="fl-l m-none p-top p-lt p-rt p-bttm">Explore</li>
          </ul>

        </div>
        <div class="discover txt-center txt-sdw fc-light mt-md p-xxs">
          <div class="fz-xss">Discover</div>
        </div>
    <!--    <script>$('.header').css('background', 'transparent')</script> -->
      </div>
    </div>

