<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/normalize.min.css"/>
    <link rel="stylesheet" href="/stylesheets/trg.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>

  </head>
  <body class="fs-head">


    <div class="tr-head full-container fz-xs">
      <header class="clearfix fc-light txt-sdw p-xs">
        <!-- <img src="https://pbs.twimg.com/profile_images/571076061169868800/2dDdk-Uh.png" srcset="https://pbs.twimg.com/profile_images/571076061169868800/2dDdk-Uh.png 2x" class="ttlogo fl-l debug"> -->

        <h4 class="fl-l m-none">-- UnDiscovered --</h4>

        <ul class="fl-r lis-n">
            <li class="fl-l mr-small clearfix">
              Sign In
            </li>
            <li class="fl-l clearfix">
              Sign Up
            </li>
        </ul>

      </header>
    </div>

    <div class="hero">

      <div class="p-hero txt-center va-mid m-none">
        <h1 class="fz-lg fc-light txt-sdw m-none">UnDiscovered</h1>
        <h4 class="fc-light txt-sdw fz-sm m-none">Authentic, Local, Experiences.</h4>
        <div class="discover txt-center txt-sdw fc-light m-none p-xs">
          <div class="fz-sm">Discover</div>
        </div>
      </div>


    </div>





  </body>
</html>
