<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/normalize.min.css"/>
    <link rel="stylesheet" href="/stylesheets/trg.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>

  </head>


    <div class="hero">

      <div class="p-hero txt-center va-mid m-none">
        <h1 class="fz-lg fc-light txt-sdw m-none">UnDiscovered</h1>
        <h4 class="fc-light txt-sdw fz-sm m-none">Authentic | Local | Explore</h4>
        <div class="discover txt-center txt-sdw fc-light m-none p-xs">
          <div class="fz-sm">Discover</div>
        </div>
      </div>


    </div>





  </body>
</html>
