<link rel="stylesheet" href="/stylesheets/index.css">


      <style>
      .op-head {
        background-color: transparent;
        position: absolute;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=80);
        -moz-opacity: 0.80;
        -khtml-opacity: 0.8;
        opacity: 0.8;
      }
      </style>

      <div class="hero full-container">
        <div class="p-hero fs-index txt-center va-mid m-none">
          <!-- <div class="fz-lg fc-light txt-sdw m-none">unDiscovered</div> -->
          <h1 id="main-title">unDiscovered</h1>
          <div class="fc-light txt-sdw m-none">
            <ul class="lis-n lh-sm dis-i p-none m-none mb-md fz-xss">
              <li class="b-rt fl-l m-none p-top p-lt p-rt p-bttm">Authentic</li>
              <li class="b-rt fl-l m-none p-lt p-rt p-top p-bttm">Local</li>
              <li class="fl-l m-none p-top p-lt p-rt p-bttm">Explore</li>
            </ul>
          </div>
          <div class="discover txt-center fc-light mt-md ">
            <div class="fz-xss"><a href="browse_tours" class="link_btn"><i class="fa fa-search"></i>Discover</a></div>
          </div>
        </div>
    <!--    <script>$('.header').css('background', 'transparent')</script> -->

