<link rel="stylesheet" href="/stylesheets/show_tour.css">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
<script src="/javascript/wishlist.js"></script>
<script>

var coordinate = [71.0589, 42.3601]
function initialize() {
  var mapOptions = {
    zoom: 10,
    center: new google.maps.LatLng(coordinate[1], coordinate[0])
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);
  setMarkers(map, coordinate);
}

function setMarkers(map, locations) {
  console.log(coordinate)
  console.log("Google map is working")
  var shape = {
      coords: [1, 1, 1, 20, 18, 20, 18 , 1],
      type: 'poly'
  };
  var myLatLng = new google.maps.LatLng(coordinate[1], coordinate[0]
);
  var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      shape: shape
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
<!-- <script>
// This example adds a marker to indicate the position
// of Bondi Beach in Sydney, Australia
// var coordinate = $('#coordinates').html().split(",");
function initialize() {
  debugger
  var mapOptions = {
    zoom: 4,
    center: new google.maps.LatLng(coordinate[1], coordinate[0])
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);

  var myLatLng = new google.maps.LatLng(-33.890542, 151.274856);
  var beachMarker = new google.maps.Marker({
      position: myLatLng,
      map: map
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script> -->
<script id="individual-tour-template" type="text/x-handlebars-template">
  <div id="container" class="margin30">
  <div class="info-box ">
    <div class="inline-block span-12-t post-title">
      <div class="location fz-sm span-8-t fl-l">
        <h1 class="h1"><i class="fa fa-map-marker fa-2x"></i>{{city}}, {{state}}</h1>
      </div>
      <div class=" span-4-t fl-l wishlist">
        <i class="fa fa-star"></i>
        <label class="sm-label">add to Wishlist</label>
      </div>
    </div>
    <div class="h1 clearfixboth">
      <h3 class="h3">{{title}}</h3>
    </div>
    <div class="span-12-t tag-box">
      <label class="sm-label">Tags</label>
      <p>{{tag}}</p>
    </div>
    <div class="profile-box span-4-t fl-l ">
        <h3 class="h3">User Info</h3>
        <div class="inner-line-box">
          <p><img src="{{tour_guide.profile_pic}}" class="circle-img">
          <a href="/users/show/{{tour_guide._id}}">{{tour_guide.username}}</a></p>
        </div>
        <div class="inner-line-box">
          <p><label class="sm-label">Profile</label></p>
          <div class="">test test test test test test test test test test test</div>
        </div>
      </div>
    </div>

    <div class="span-7-t fl-l description">
      <h3 class="h3">Tour Description</h3>
      {{trailer.description}} Im jstoijaf;ajsdf;lkja alkdjf;klsdjfadf asjf adding text to have a bigger description and what not a;kdfj;askdfj.skjljse ;fkajdsflkjas;dfkj.kzmklj;fkasf.kda flskfj.askdjf; jfaksldjf a;lkdjfa;sdlkfjals;dkfj jf;lkasjdf ;akldjsf;alskdjf fjsiekd fjfisle  jfifl jsi jfieleke tjtke eke ghs srtkaofdj lkjf wjek jflfjskljf
    </div>
    <p id="coordinates" style="display:none;">{{coordinates}}</p>
  </div>
  <div class="line"></div>
    <div class="youtube clearfixboth">
      <iframe width="860px" height="600px" class="yeah" src="http://www.youtube.com/embed/{{video_id}}">
      </iframe>
    </div>
    </div>

    <img src="{{trailer_photo_url}}" class="trailer">
  </div>
  </div>
</script>
<div class="not-index container">
<div id="individual-tour-display">
</div>
<div id="map-canvas"></div>
</div>
</div>

