<div class="ind-tour">


  <div id="individual-tour-display" class="debug"></div>


  <script id="individual-tour-template" type="text/x-handlebars-template">
    {{title}}
    <br>
    <a href="/tours/{{_id}}">
    <img src="{{trailer.photo_url}}">
    {{city}}
    <br>
    {{state}}
    <br>
    {{tags}}
    <br>
    {{_id}}
    <br>
    {{video_id}}
    <br>
    {{coordinates}}
    </a>
    </script>
</div>
