<div class="ind-tour">

  <div>Individual Tour</div>

  <div id="individual-tour-display"></div>


  <script id="individual-tour-template" type="text/x-handlebars-template">
    <a href="/tours/{{_id}}">
    <img src="{{trailer.photo_url}}">
    {{city}}
    <br>
    {{state}}
    <br>
    {{tags}}
    <br>
    {{title}}
    <br>
    {{_id}}
    <br>
    {{video_id}}
    <br>
    {{coordinates}}
    </a>
    </script>
</div>
