<h1>Individual Tour</h1>

<div id="individual-tour-display"></div>


<script id="individual-tour-template" type="text/x-handlebars-template">
  <img src="{{trailer.photo_url}}">
  {{city}}
  <br>
  {{state}}
  <br>
  {{tags}}
  <br>
  <a href="/tours/{{_id}}">{{title}}</a>
  <p id="coordinates" style="display:none;">{{coordinates}}</p>
  </a>
  <iframe width="420" height="345"
    src="http://www.youtube.com/embed/{{video_id}}">
  </iframe>
</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script>

var coordinate = $('#coordinates').html().split(",");

function initialize() {
  var mapOptions = {
    zoom: 10,
    center: new google.maps.LatLng(coordinate[0], coordinate[1])
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);
  setMarkers(map, coordinate);
}

function setMarkers(map, locations) {
  console.log("Google map is working")
  var shape = {
      coords: [1, 1, 1, 20, 18, 20, 18 , 1],
      type: 'poly'
  };
  var myLatLng = new google.maps.LatLng(locations[0], locations[1]);
  var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      shape: shape
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
<div id="map-canvas"></div>