<h1>Individual Tour</h1>

<div id="individual-tour-display"></div>


<script id="individual-tour-template" type="text/x-handlebars-template">
  <a href="/tours/{{_id}}">
  <img src="{{trailer.photo_url}}">
  {{city}}
  <br>
  {{state}}
  <br>
  {{tags}}
  <br>
  {{title}}
  <br>
  {{_id}}
  </a>
</script>