<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
<!--     <meta name="description" content>
 -->    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/normalize.min.css"/>
    <link rel="stylesheet" href="/stylesheets/trg.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <script type="application/javascript" src="/javascript/lib/jquery.js"></script>
    <script type="application/javascript" src="/javascript/lib/underscore.js"></script>
    <script type="application/javascript" src="/javascript/lib/backbone.js"></script>
    <script type="application/javascript" src="/javascript/lib/handlebars.js"></script>
    <script type="application/javascript" src="/javascript/client.js"></script>
    <script type="application/javascript" src="/javascript/init.js"></script>
  </head>

  <body class="fs-head">


    <div class="tr-head full-container fz-xs">
      <header class="clearfix fc-light txt-sdw p-xs">


        <h4 class="fl-l m-none">-- UnDiscovered --</h4>

        <ul class="fl-r lis-n">
            <li class="fl-l mr-small clearfix">
              Sign In
            </li>
            <li class="fl-l clearfix">
              Sign Up
            </li>
        </ul>

      </header>
    </div>

    <div class="full-container">
      <%- body %>
    </div>
<!--
    <div class="debug">
      <footer class="container p-md debug">
        Footer stuff to come
      </footer>
<<<<<<< HEAD
    </div> -->

=======
    </div>
>>>>>>> master
  </body>
</html>
