<!DOCTYPE HTML>
<html>
  <head>
    <title>Express with EJS</title>
  </head>
  <body>
    <h1>Layout</h1>
    <div class="container">
      <%- body %>
    </div>
    <script type="application/javascript" src="/javascript/lib/jquery.js"></script>
    <script type="application/javascript" src="/javascript/lib/underscore.js"></script>
    <script type="application/javascript" src="/javascript/lib/backbone.js"></script>
    <script type="application/javascript" src="/javascript/client.js"></script>
    <script type="application/javascript" src="/javascript/init.js"></script>

  </body>
</html>