<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
<!--     <meta name="description" content>
 -->    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/normalize.min.css"/>
    <link rel="stylesheet" href="/stylesheets/trg.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <script type="application/javascript" src="/javascript/lib/jquery.js"></script>
    <script type="application/javascript" src="/javascript/lib/underscore.js"></script>
    <script type="application/javascript" src="/javascript/lib/backbone.js"></script>
    <script type="application/javascript" src="/javascript/lib/handlebars.js"></script>
    <script type="application/javascript" src="/javascript/client.js"></script>
    <script type="application/javascript" src="/javascript/init.js"></script>
  </head>

  <body>
    <div class="debug">
      <header class="container clearfix p-sm debug">
        <img src="https://pbs.twimg.com/profile_images/571076061169868800/2dDdk-Uh.png" srcset="https://pbs.twimg.com/profile_images/571076061169868800/2dDdk-Uh.png 2x" class="tt--logo fl-l debug">

        <ul class="fl-r lis-n debug">
            <li class="fl-l clearfix debug">
                Nav Stuff
            </li>
            <li class="fl-l clearfix debug">
                Nav stuff
            </li>
        </ul>

      </header>
    </div>

    <div class="container">
      <%- body %>
    </div>

    <div class="debug">
      <footer class="container p-md debug">
        Footer stuff to come
      </footer>
    </div>
  </body>
</html>
