<div class="not-index container">
<h1>User Page</h1>

<div id="individual-user-display">

</div>

<div id="user-authored-list"></div>


<script id="individual-user-template" type="text/x-handlebars-template">
  Username: {{username}}
  <br>
  First Name: {{first_name}}
  <br>
  Last Name: {{last_name}}
  <br>
  Email: {{email}}
  <br>
  _id: {{_id}}
  <br>
</script>

<script id="individual-user-authored-template" type="text/x-handlebars-template">
  Authored ID: {{_id}}
  <br>
</script>
</div>
