a .city-img-text {
  color: white;
}

#center-box {
  clear: both;
}

.browse-discover-title {
  text-align: center;
  font-family: CiceroSerif;
  margin: 1.3em 0em 0.3em 0em;
  font-size: 3em !important;
  color: #424242;
  font-weight: 500;
}

.browse-interests {
  padding: 1em 2.1em;
}

.browse-cities {
  clear: both;
  padding: 0.1em;
}

.browse-title {
  font-weight: 400;
  font-size: 1.3em;
}

.interest-template-div {
  float: left;
  padding: 5px 30px 5px 20px;
  margin-top: 0.8em;
  margin-bottom: 1em;
  margin-right: 1.5em;
  background-color: #525252;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  transition: background-color 0.5s ease;
}

.interest-tag-titles {
  text-align: right;
  margin: 0;
  font-size: 0.8em !important;
  font-weight: 300;
  color: #F5F5F5;
}

.interest-template-div:hover {
  background-color: #5092B9;
}

.tag-border-line {
  border-left: thick solid #FF7043;
  left: 0px;
  position: absolute;
  display: inline;
  z-index: 10000;
  height: 28px;
  bottom: 0;
}

.interest-tag {
  margin-right: 20px;
}

.box-200 {
  height: 200px;
  width: 200px;
  float: left;
  margin: 2em;
  position: relative;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: inline;
  z-index: 100;
  width: 100%;
  height: 80px;
  bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.city-img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  z-index: 10;
}

.city-img-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.3em;
  text-align: center;
  font-weight: 100;
  text-shadow: 2px 2px #000;
  z-index: 1000;
}

.browse-close-to-you {
  margin-bottom: 2em;
}

.enable-gps-text {
  margin-left: 2em;
  font-weight: 400;
}

.not-index {
  margin-bottom: 2em;
}

.enable-gps-button {
  margin-top: 1em;
  margin-left: 1.6em;
  background-color: #525252;
  color: white;
  border: none;
  height: 35px;
  width: 120px;
  font-size: 1.1em;
  font-weight: 100;
  padding-right: 6em;
  padding-left: 0.8em;
  position: relative;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background-color 0.5s ease;
}

.enable-gps-button:hover {
  background-color: #5092B9;
}

.location-button-filler {
  z-index: 10;
  width: 37px;
  height: 100%;
  background-color: #FF7043;
  position: absolute;
  display: inline;
  right: 0;
  bottom: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.location-services-icon {
  position: absolute;
  display: inline;
  bottom: 0;
  right: 0;
  padding-right: 11px;
  padding-bottom: 8.5px;
  z-index: 100;
  color: white;
}

.tour-display-template {
  float: left;
}