a .city-img-text {
  color: black;
}

#center-box {
  clear: both;
}

.browse-discover-title {
  text-align: center;
  font-family: CiceroSerif;
  margin: 1.3em 0em 0.3em 0em;
  font-size: 4em !important;
  color: #212121;
  font-weight: 500;
}

.browse-interests {
  padding: 1em 2.1em;
}

.browse-cities {
  clear: both;
  padding: 0.1em;
}

.browse-title {
  font-weight: 400;
  font-size: 1.7em;
  color: #424242;
}

.location-title {
  font-weight: 400;
  font-size: 0.8em !important;
  color: #424242;
}

.page-title {
  font-weight: 400;
  font-size: 0.85em !important;
  color: #424242;
}

.interest-template-div {
  float: left;
  padding: 5px 40px 5px 30px;
  margin-top: 0.8em;
  margin-bottom: 1em;
  margin-right: 1.5em;
  background-color: #525252;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  position: relative;
  transition: background-color 0.5s ease;
  height: 25px;
}

.interest-tag-titles {
  text-align: right;
  margin: 0;
  font-size: 1.1em !important;
  font-weight: 300;
  color: #F5F5F5;
}

.interest-template-div:hover {
  background-color: #5092B9;
}

.tag-border-line {
  border-left: thick solid #FFA726;
  border-left-width: 10px;
  left: 0px;
  position: absolute;
  display: inline;
  z-index: 10000;
  height: 35px;
  bottom: 0;
}

.interest-tag {
  margin-right: 20px;
}

.browse-close-to-you {
  margin-top: 1.6em;
  margin-bottom: 2em;
}

.enable-gps-text {
  margin-left: 2em;
  font-size: 1.3em;
  font-weight: 400;
  color: black;
}

.not-index {
  margin-bottom: 2em;
}

.enable-gps-button {
  margin-top: 1em;
  margin-left: 1.8em;
  background-color: #525252;
  color: white;
  border: none;
  height: 50px;
  width: 150px;
  font-size: 1.5em;
  font-weight: 100;
  padding-right: 6.5em;
  padding-left: 1.2em;
  position: relative;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background-color 0.5s ease;
}

.enable-gps-button:hover {
  background-color: #5092B9;
}

.location-button-filler {
  z-index: 10;
  width: 50px;
  height: 100%;
  background-color: #FFA726;
  position: absolute;
  display: inline;
  right: 0;
  bottom: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.location-services-icon {
  position: absolute;
  display: inline;
  bottom: 0;
  right: 0;
  padding-right: 14px;
  font-size: 1.2em;
  padding-bottom: 12px;
  z-index: 100;
  color: white;
}

.tour-display-template {
  float: left;
}


.card-box-200 {
  border: solid 1px gray;
  height: 325px;
  width: 200px;
  float: left;
  margin: 1.4em;
  position: relative;
  box-shadow: 1px 1px 1px 1px #BDBDBD;
  border-style: solid;
  border-top: 1px;
  border-right: 2px;
  border-bottom: 2px;
  border-left: 0px;
}

.card-circle-img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  position: absolute;
  margin-left: 140px;
  top: 140px;
}

.card-tag-template-div {
  float: left;
  padding: 5px 30px 5px 20px;
  background-color: #413E84;
  /*background-color: #525252;*/
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  margin-top: 85px;
  margin-left: 10px;
  transition: background-color 0.5s ease;
}

.card-tag-titles {
  text-align: right;
  margin: 0;
  font-size: 0.8em !important;
  font-weight: 300;
  color: #F5F5F5;
}

.card-template-div:hover {
  background-color: #106AD5;
  /*background-color: #549AE8;*/
}

.card-tag-border-line {
  border-left: thick solid #FF7043;
  left: 0px;
  position: absolute;
  display: inline;
  z-index: 10000;
  height: 28px;
  bottom: 0;
}

.card-tag {
  margin-right: 20px;
}
