.profile-box {
 		text-align: center;
		/*text-align: left ;*/
		box-sizing:border-box;
		background-color:#fbfbfb ;
		border: 2px solid #E0E0E0;
		border-radius: 4px;
		height: 917px;
		margin-top: 2em;
		width: 295px;
}

 .inner-line-box {
 	background-color: #fbfbfb;
 	border-top:1px solid #e2e4e6;
 	padding:10px 12px !important;
 	/*margin-top: -7px !important;*/
 }

.sm-label {
	font-size: 1em;
}

.lg-label {
	font-size: 1.2em !important;
}

 .image-inner-line-box {
 	background-color: #fbfbfb;
 	border-top:1px solid #e2e4e6;
 	padding: 39px 40px 40px 40px !important;
 	/*margin-top: -7px !important;*/
 }

 .profile-inner-box {
 	width:100%;
 }

 .h4 {
 		font-weight: 300;
 		margin-left:15px;
		font-size: 1.4em !important;
		margin-top: 0.8em;
		margin-bottom: 0.8em;
		color: #616161;
 }

 .circle-pic {
/*	 	width: 150px;
	 	height: 150px;
	 	border-radius: 100px;*/
	 	width: 100%;
	 	height: 100%;
 }

.footer {
  width: 100% !important;
}

.browse-title {
  font-weight: 400;
  font-size: 1.7em;
  color: #424242;
}

.dashboard-title {
  text-align: left;
  font-family: CiceroSerif;
  margin: 1em 0em 0.4em 0em;
  font-size: 4em !important;
  color: #212121;
  font-weight: 500;
}

.dash-right-box {
	margin-left: 11.9em;
	margin-bottom: 2em;
}

.wishlist-on-dash {
	margin-bottom: 2em;
}

.authored-tours-on-dash {
	margin-bottom: 2em;
}

