 #map-canvas {
   height: 600px;
   margin: 0px;
   padding: 0px;
 }

#map-canvas {
  width: 600px;
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;1
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}