/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
* {
    letter-spacing: 1px;
}

body {
    color: #616161;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


h1 {
    font-size:24px !important;
    font-weight: 400;
}

h3 {
    font-size:18px !important;
    font-weight: 400;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul, ol {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
}

.op-head {
    background-color: #00897B;
    position: relative;
    color: white;
    top: 0;
    pad
    margin: 0;
    opacity: 1;
}

.logined {
    display: none;
}

.notlogined {
    display: none;
}

.footer {
    margin-top: 7.5em;
    width:100%;
    height: 4em;
    bottom: 0px;
    background-color: #00897B;
    text-align: center;
    padding-top: 5px;
}

.footer-text {
    font-weight: 300;
    font-size: 0.8em;
    color: white;
    margin: 0;
    padding-top: 5px;
}

.facebook-logo {
    height: 35px;
    width: 35px;
}

.twitter-logo {
    height: 35px;
    width: 35px;
}

.google-plus-logo {
    height: 35px;
    width: 35px;
}

.debug {
    border: 1px solid red;
}

.mt-none { margin-top: 0; }
.m-none { margin: 0; }
.mb-none { margin-bottom: 0;}
.mb-md { margin-bottom: 5em; }
.m-ssm { margin: 2em; }
.m-sm { margin: .5em; discover}
.mr-small { margin-right: .5em; }
.mr-xss { margin-right: 1.5em; }

.mt-sm { margin-top: 1em; }
.mt-xss { margin-top: 1.5em; }
.mt-md { margin-top: 2em; }
.mb-md { margin-bottom: .5em; }
.mb-lg { margin-bottom: 1em; }
.mb-sm { margin-bottom: .25em; }

.b-lft { border-left: 2px solid white; }
.b-rt { border-right: 3px solid white; }
.b-top { border-top: 2px solid white; }
.b-bttm { border-bottom: 2px solid white; }

.p-xxs { padding: .1em; }
.p-top { padding-top: .1em; }
.p-bttm { padding-bottom: .1em; }
.p-rt { padding-right: .25em; }
.p-lt { padding-left: .25em; }
.p-rt-md {padding-right: 4em;}
.p-lf-md {padding-left: 4em;}
.p-xs { padding: .5em;}
.p-xss { padding: .75em;}
.p-sm { padding: 1em;}
.p-ssm { padding: 2em;}
.p-md { padding: 4em; }
.p-lg { padding: 7em;}
.p-xxl { padding: 10em; }
.p-none { padding: 0;}
/*.p-hero { padding: 23em; } /* ask josh about this */

.lh-sm { line-height: 80%; }

.fz-xxxs { font-size: 1em; }
.fz-xxs { font-size: 1.25em; }
.fz-xs { font-size: 1.5em; }
.fz-xxss { font-size: 1.6em; }
.fz-xss { font-size: 2em; }
.fz-sm { font-size: 2.5em; }
.fz-md { font-size: 3em; }
.fz-lg { font-size: 4.5em; }
.fz-xxl { font-size: 16em; }
.fs-index {
/*    font-family: 'Julius Sans One', sans-serif;
*/    /*font-family: 'Cabin', sans-serif;*/
font-family: 'Raleway', sans-serif;
}

.fc-light {color: white;}
.fc-dark {color: #042037};
.bgc-cool { background-color: blue; }

.txt-sdw { text-shadow: 0px 3px 13px #042037; }

.fl-l { float: left; }
.fl-r { float: right; }

.lis-n { list-style: none; }

.dis-i { display: inline-block; }

.tt--logo {
    width: 50px;
}

#logo {
    margin-top: -25px;
    margin-left: -10px;
    height: 60px;
    width: auto;
    padding: 0;
}

.hero {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(https://download.unsplash.com/photo-1415125721330-116ba2f81152);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.va-mid { vertical-align: middle; }
.txt-center { text-align: center;}
.txt-underline { text-decoration: underline; }


.full-container { width: 100%; }

body { background-color: white; }

footer {
    right: 0;
    left: 0;
    width: 100%;
    bottom: 0px;
}

.title-box{
    display:inline-block;
    width: 100%;
    padding:4% 2%;
}

.not-index {
    padding-top: 60px;
}

.tour-text{}

.link_btn {
    text-decoration: none;
    color: white;
}

.discover {
    padding: 10px 35px;
    display: inline-block;
    border-radius: 2px;
    background-color: #00796B;
    border-bottom: 2px solid #005a50;
    /*Opacity start*/
 /*   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;*/
/*    opacity: 0.8;*/
    /*Opacity end*/
}

.nav-header {
    padding: 30px 15px 15px 20px !important;
    bottom: -15px !important;
}

.header-options {
    padding: 0px;
}

.discover a {
    font-size:18px;
    vertical-align: middle;
}

.discover i {
    margin-top:-4px;
    margin-right:5px;
    font-size:14px;
    vertical-align: middle;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix {
    display: inline-block;
}

.clearfixboth {
    clear:both;
}


/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@font-face {
    font-family: theSkinnyFont;
    src: url("../images/TheSkinny.otf") format("opentype");
}

@font-face {
    font-family: CiceroSerif;
    src: url("../images/CiceroSerif.ttf") format("truetype");
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
