#right-box {
	float:left;
}

#left-box{
	float:left;
	background-color: #ffffff;
}

.left-box{
	/*border: 1px solid #e1e1e1;*/
	background-color:#f9f9f9;
}

.w100 {
	width:100%;
}

.post-sign-in input[type="text"], .post-sign-in textarea {
	border: 1px solid lightgray;
	width:90%;
	padding:8px;
}

input[type="text"]:focus {
	border: 1px solid red;
}

.post-sign-in textarea {
	height:200px;
}

.btn {
	border:none;
	padding:12px 24px;
	border-radius: 2px;
}

.btn-submit {
	color:white;
	background-color:#1C7F7F;
	border-bottom: 2px solid #095252;
	margin-top:30px;
}


.btn-submit:hover {
	background-color: #209a9a;
}

.btn-clear {
	border:none;
	background-color: rgba(0,0,0,0);
	color:#1C7F7F;
	text-decoration: underline;
	font-weight:bold;
	font-size:14px;
}

.btn-clear:hover {
	color:#095252;
}

.btn-normal {
	color:white;
	font-size:12px;
	background-color:#616161;
	border-bottom: 2px solid #37474F;
}

.btn-normal:hover {
	background-color:#757575;
}

.inline {
	display: inline-block;
}

.inner-box {
	width:90%;
	padding-left:10%;
}

#inner-left-box p {
	font-size:14px;
	word-wrap: break-word;
}

#panel input[type="text"]{
	width:60%;
}


input[type="text"]:focus, input[type="password"]:focus{
	border: 1px solid #7a7a7a;
}

.border {
	border: 1px solid lightgray;
	background-color:white;
}

.signin-profile {
	margin-left:10px;
	beckground-color:#f9f9f9;
	color:#737676;
	border-radius: 15px;
}

.signin-profile img{
	border-right:1px solid lightgray;
}

.signin-profile i{
	font-size:16px;
	color:#c1523b;
}

