.square200 {
	width:180px;
	height:180px;
	background-color:lightgray;
}

.photo {
	position:relative;
	float:left;
	width:180px;
	height:180px;
	background-color:lightgray;
	margin:0.1em;
}

.post-title {
	position:absolute;
	top:34%;
	left:34%;
}

h3 {
	clear:both;
}